@charset "UTF-8";
/* Globales */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap");
/* pruebas */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* FUENTES */
/* paleta  de colores*/
/* variables responsive */
/* box-model */
/* minxin */
/* @each! */
h6 {
  font-size: 1rem; }

h5 {
  font-size: 1.5rem; }

h4 {
  font-size: 2rem; }

h3 {
  font-size: 2.5rem; }

h2 {
  font-size: 3rem; }

h1 {
  font-size: 3.5rem; }

.color-instagram, .fa-instagram {
  color: #3d1711; }

.color-facebook, .fa-facebook {
  color: #223f7a; }

.color-youtube, .fa-youtube {
  color: #64212F; }

.color-whatsapp, .fa-whatsapp {
  color: #032b26; }

/* loops */
.m-t-1 {
  margin-top: 1rem !important; }

.m-t-2 {
  margin-top: 2rem !important; }

.m-t-3 {
  margin-top: 3rem !important; }

.m-t-4 {
  margin-top: 4rem !important; }

.m-t-5 {
  margin-top: 5rem !important; }

.m-t-6 {
  margin-top: 6rem !important; }

.m-t-7 {
  margin-top: 7rem !important; }

.m-t-8 {
  margin-top: 8rem !important; }

.m-t-9 {
  margin-top: 9rem !important; }

.m-t-10 {
  margin-top: 10rem !important; }

/* ---------------------------- Globales ------------------------------ */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem !important;
  line-height: 2; }

a {
  text-decoration: none !important;
  color: inherit !important; }

.centrar-texto {
  text-align: center; }

.in-bold {
  font-weight: bold; }

ul {
  list-style-type: none; }

h1, h2, h3, h4, h5 {
  margin: 2rem 0 !important; }

h2, h1 {
  font-family: "Courgette", cursive;
  font-weight: bold;
  color: #733B2F;
  animation: example 2s; }

@keyframes example {
  20% {
    color: #487b3f; }
  50% {
    color: #BF9D7E; }
  100% {
    color: #733B2F; } }

img {
  max-width: 100%; }

.en-negrita {
  font-weight: bold; }

.no-margin {
  margin: 0; }

.en-cursiva {
  font-style: italic; }

p, h4, h5 {
  font-family: "Poppins", sans-serif !important; }

.nueva-ola__contenidointerno {
  font-family: "Courgette", cursive; }

/* ------------------------ MODIFICACIONES BOOTSTRAP GENERALES------------------------------ */
.container {
  width: 100%; }

.carousel2 {
  position: relative; }

/* pagination bs */
.page-link {
  color: #0d6efd;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #733B2F !important;
  padding: .5rem 1rem !important; }
  .page-link:hover {
    color: white !important;
    background-color: #733B2F;
    border-color: #34592E !important; }

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 960px !important; } }

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1200px !important; } }

.contenedor-desktop {
  max-width: 130rem !important; }

/* components */
.btn, .btn--extras, .btn--testimonios, .contenedor-eCommerce .btn-contenedor .btn--productos, .btn--formulario {
  padding: 1rem 3rem;
  font-size: 1.6rem;
  color: white;
  border-style: none;
  border-radius: 1.5rem; }

.btn--extras, .btn--testimonios, .contenedor-eCommerce .btn-contenedor .btn--productos {
  background-color: #733B2F;
  cursor: pointer;
  display: block; }
  .btn--extras p, .btn--testimonios p, .contenedor-eCommerce .btn-contenedor .btn--productos p {
    margin: 0 !important; }

.btn--formulario {
  background-color: #A4BF69;
  color: black;
  display: block; }
  .btn--formulario:hover {
    color: #D3D9A7;
    background-color: #34592E;
    transition: all .5s ease-in-out; }

.btn--testimonios {
  padding: 1rem 10rem;
  transition: all .5s ease-in-out; }

/* General @extends */
.flex-column, .almacigos__contenido--index, .maceteros__contenido--index, .sustratos__contenido--index, .medicinales__contenido--index, .formulario {
  display: flex;
  flex-direction: column; }

/* componentes */
/* --- Header --- */
.logo img {
  margin-top: 1rem;
  height: 10rem;
  width: 15rem;
  margin-bottom: 1rem; }

.logo--nav {
  background-color: #A4BF69;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem; }
  .logo--nav img {
    height: 7rem;
    width: 10rem; }

.logo--index {
  position: relative;
  margin-bottom: 1rem;
  animation: animation-logo-index 2s;
  animation-fill-mode: both; }

@keyframes animation-logo-index {
  50% {
    transform: rotate(10deg); }
  70% {
    transform: rotate(-20deg);
    z-index: 1; }
  85% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(0); } }

.logo--arriba {
  position: relative;
  margin-bottom: 1rem;
  animation: animation-logo-arriba 1s;
  animation-fill-mode: both; }

@keyframes animation-logo-arriba {
  50% {
    transform: translateY(0px); }
  100% {
    transform: translateY(10px); } }

.carrito--responsive {
  font-size: 4rem; }

/* --- NAVEGACIÓN --- */
.compras {
  padding: .5rem;
  font-weight: bold; }

.nav--menu {
  background-color: #D3D9A7;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0; }
  .nav--menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto; }
    .nav--menu ul li {
      text-align: center; }
      .nav--menu ul li img {
        height: 20px;
        width: 20px; }
      .nav--menu ul li a {
        display: inline-block;
        padding: 1rem; }
        .nav--menu ul li a:hover {
          background-color: #A4BF69;
          transition: background-color .3s ease; }

/* --- TERMINA NAVEGACIÓN --- */
/* --- HERO --- */
.non-web .hero {
  background-image: url("../build/imgs/hero-resp3.jpg"); }

.hero {
  background-image: url("../build/imgs/hero-resp3.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 40rem;
  position: relative; }
  .hero h4 {
    position: absolute;
    margin: 0 !important;
    bottom: 9rem;
    font-size: 5rem !important;
    margin: 0 !important;
    color: #733B2F;
    font-family: "The Nautigal", cursive !important;
    max-width: 80vw;
    text-align: left; }
  .hero h1, .hero h4 {
    position: absolute;
    color: #733B2F;
    font-family: "The Nautigal", cursive !important;
    text-align: left;
    left: 10vw; }
    @media (max-width: 1315px) and (min-width: 864px) {
      .hero h1, .hero h4 {
        left: 3.5vw; } }
  .hero h1 {
    bottom: 15rem;
    font-weight: bold !important;
    font-size: 10rem;
    padding-right: 3rem; }

/* --FOOTER-- */
footer h5 {
  font-size: 1.6rem;
  margin: 0 0 1rem 0 !important;
  cursor: pointer;
  transition: all .5s ease-in-out;
  line-height: 1 !important; }
  footer h5:hover {
    color: #733B2F;
    transform: scale(1.1); }

.elementos-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #A4BF69; }

footer ul {
  line-height: 2;
  margin: 0;
  padding: 0; }

.footer__iconos {
  font-size: 3rem;
  padding: 1rem; }
  .footer__iconos i:hover {
    cursor: pointer; }

.fa-arrow-circle-up {
  font-size: 5rem;
  margin: 2rem 0; }

.fa-whatsapp {
  font-size: 2rem; }

/* pagos footer */
.footer__iconos--pago {
  display: block;
  text-align: center;
  background-color: #34592E; }
  .footer__iconos--pago img {
    height: 3rem;
    width: 5rem;
    background-color: white;
    border: 1px solid black; }

.visa {
  margin-right: 2rem; }

.referencia {
  margin-left: 2rem;
  color: #D3D9A7; }

/* pages */
/* ---------------- INDEX ------------------- */
/* ---FIRST SECTION = CONTENEDOR-PLANTAS ---*/
.contenedor-plantas {
  text-align: center;
  margin: 7rem auto; }
  .contenedor-plantas img {
    transition: .5s ease;
    opacity: 1;
    height: 25rem;
    width: 20rem;
    padding: .5rem;
    margin-top: 2rem;
    border-radius: 1.5rem; }
    .contenedor-plantas img:hover {
      opacity: 0.8;
      cursor: pointer; }

.contenedor-desktop h1, .contenedor-desktop h2 {
  margin: 1rem 0 !important; }

/* ---- SECOND SECTION = diversidad de servicios ------- */
.extras {
  text-align: center;
  background-color: #D3D9A7;
  padding: 3rem 0; }
  .extras h2 {
    color: #733B2F; }

.extras__imgs {
  display: grid;
  grid-row-gap: 1.5rem;
  grid-column-gap: .5rem;
  grid-template-columns: 49% 49%;
  grid-template-rows: 20rem 35rem 40rem 40rem;
  grid-template-areas: "medicinales medicinales" "almacigos almacigos" "sustratos sustratos" "maceteros maceteros";
  margin: 5rem auto;
  justify-content: center; }

.almacigos__contenido--index, .maceteros__contenido--index, .sustratos__contenido--index, .medicinales__contenido--index {
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute; }

.almacigos, .maceteros, .sustratos, .medicinales {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem; }

.non-web .medicinales {
  background-image: url("../build/imgs/medicinales.jpg"); }

.non-web .almacigos {
  background-image: url("../build/imgs/almacigos.jpg"); }

.non-web .maceteros {
  background-image: url("../build/imgs/maceteros.jpg"); }

.non-web .sustratos {
  background-image: url("../build/imgs/fruto.jpeg"); }

.medicinales {
  grid-area: medicinales;
  background-image: url("../build/imgs/medicinales.webp"); }

.almacigos {
  grid-area: almacigos;
  background-image: url("../build/imgs/almacigos.webp"); }

.maceteros {
  grid-area: maceteros;
  background-image: url("../build/imgs/maceteros.webp"); }

.sustratos {
  grid-area: sustratos;
  background-image: url("../build/imgs/fruto.webp"); }

/* THIRD SECTION - Testimonios */
.testimonios {
  margin: 5rem auto; }
  .testimonios .testimonios__contenedor div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 4rem 1rem;
    background-color: #e5e8cb; }
    .testimonios .testimonios__contenedor div picture {
      margin-bottom: 2rem; }
  .testimonios .testimonios__contenedor .valoraciones {
    height: 6rem;
    width: 20rem;
    margin: 1rem; }
  .testimonios .testimonios__contenedor .img-gente {
    margin-top: 1rem 0 .5rem 0;
    max-width: 40rem;
    max-height: 30rem; }
  .testimonios .testimonios__contenedor p {
    margin-top: 1rem 0; }
  .testimonios .testimonios__contenedor h5 {
    font-weight: bold;
    margin-top: 0 !important; }
  .testimonios .testimonios__contenedor i {
    color: #815b15; }
  .testimonios .div-btn--testimonios {
    display: flex;
    align-items: center;
    justify-content: center; }

/* ------- FOURTH SECTION = Dónde encontrarnos ---------- */
.encuentranos {
  padding: 0 0 0 0; }

.nueva-ola {
  background-image: url("../build/imgs/resp-guindas.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 800px;
  position: relative; }
  .nueva-ola .nueva-ola__contenido {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .nueva-ola .nueva-ola__contenido .nueva-ola__contenidointerno {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fbf9d6;
      max-width: 30rem;
      max-height: 20rem;
      border-radius: 1.5rem;
      color: #733B2F; }
      .nueva-ola .nueva-ola__contenido .nueva-ola__contenidointerno p {
        font-size: 2rem;
        text-align: center;
        margin: 0 !important;
        font-size: 2.5rem;
        font-family: "Courgette", cursive !important; }
      .nueva-ola .nueva-ola__contenido .nueva-ola__contenidointerno h3 {
        color: #733B2F;
        text-align: center;
        line-height: 1.5;
        margin: 0 !important; }

/* ------ Maceteros --------- */
/* bootstrap en maceteros */
.card {
  max-width: 25rem !important;
  align-items: center !important;
  transition: all .5s ease-in-out;
  width: 30rem !important;
  padding: 1rem 0 0 0; }
  .card img {
    max-width: 20rem;
    height: 25rem; }
  .card h2 {
    font-size: 2.5rem !important; }
  .card h3 {
    font-size: 1.6rem !important; }
  .card p {
    margin-bottom: 2rem !important; }
  .card .btn-primary p {
    margin-bottom: 0 !important; }

.col {
  display: flex;
  justify-content: center !important;
  align-items: center !important; }

.btn-primary {
  background-color: #733B2F !important;
  color: white !important; }
  .btn-primary:focus, .btn-primary:active, .btn-primary:checked {
    border-color: #733B2F !important;
    box-shadow: 0 0 0 0.25rem rgba(85, 50, 4, 0.5); }

.maceteros-gap {
  grid-row-gap: 5rem;
  grid-column-gap: 6rem; }

.contenedor-cards {
  margin: 5rem auto;
  text-align: center; }

.pagination--propia {
  justify-content: center;
  margin-bottom: 3rem !important;
  gap: 1rem; }

/* --------------- Product Expecific Page --------------- */
.contenedor-eCommerce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 95%;
  margin: 5rem auto; }
  .contenedor-eCommerce h3 {
    margin-bottom: 4rem !important;
    position: relative; }
    .contenedor-eCommerce h3::after {
      content: "-10%";
      background-color: #F2EA79;
      margin: 1rem 0 0 1rem;
      bottom: 4px;
      font-size: 1.5rem;
      font-weight: normal;
      position: absolute; }
  .contenedor-eCommerce .img-hidden {
    text-align: center; }
  .contenedor-eCommerce--img {
    background-image: url("../build/imgs/hero4.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 35rem;
    max-height: 55rem; }
  .contenedor-eCommerce--img1 {
    border: 6px double #8b0000;
    padding: 3rem; }
  .contenedor-eCommerce--textos {
    max-width: 95%; }
    .contenedor-eCommerce--textos h3 {
      font-weight: bold;
      color: #733B2F; }
    .contenedor-eCommerce--textos h2 {
      font-weight: 600;
      color: #D99923;
      font-size: 2rem;
      animation: none !important; }
  .contenedor-eCommerce .btn-contenedor {
    width: 95%;
    display: block;
    color: white; }
    .contenedor-eCommerce .btn-contenedor a {
      font-size: 2.5rem !important; }
      .contenedor-eCommerce .btn-contenedor a i {
        margin: 0 1rem 0 0; }
    .contenedor-eCommerce .btn-contenedor .btn--productos {
      background-color: #8b0000;
      padding: 2rem 0; }

.fa-map-marker-alt {
  font-size: 1rem;
  color: #64212F;
  position: relative;
  animation-name: location;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: both; }
  .fa-map-marker-alt:hover {
    transform: translateY(-5px) scale(1.5); }

@keyframes location {
  50% {
    transform: rotate(-20deg);
    font-size: 2rem;
    color: red; }
  60% {
    transform: rotate(-10deg);
    color: orange; }
  70% {
    transform: rotate(20deg);
    font-size: 4rem; }
  70% {
    font-size: 5rem;
    transform: translateY(-50px); }
  85% {
    color: #5e5b41; }
  100% {
    top: 0px;
    font-size: 3rem;
    color: #8f3549; } }

.formulario {
  margin: 0 auto;
  max-width: 60rem;
  width: 95%;
  height: 80%;
  padding: 2rem;
  background-color: #D3D9A7;
  border-radius: 1.5rem;
  margin-bottom: 3rem; }
  .formulario #nombre, .formulario #apellido {
    width: 100%; }
  .formulario #phone {
    width: 100%; }
  .formulario textarea {
    height: 20rem;
    width: 100%; }

#nombre, #phone, #apellido {
  height: 3rem;
  margin-bottom: 1rem; }

.contenedor-contato h3 {
  font-size: 1.8rem !important;
  font-family: "Poppins", sans-serif;
  margin: 1rem 0 !important; }

.contenedor-contato p {
  font-size: 1.7rem !important; }

/* --------------------------------- RESPONSIVE SECTION ------------------------------------ */
/* --------------- large --------------- */
@media (min-width: 1080px) {
  .nav--menu ul {
    gap: 5rem; }
  .hero {
    background-image: url("../build/imgs/hero5.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    .hero h1, .hero h4 {
      position: absolute;
      color: #733B2F;
      font-family: "The Nautigal", cursive !important;
      text-align: left;
      left: 10vw; } }
    @media (min-width: 1080px) and (max-width: 1315px) and (min-width: 864px) {
      .hero h1, .hero h4 {
        left: 3.5vw; } }

@media (min-width: 1080px) {
    .hero h4 {
      position: absolute;
      bottom: 9rem;
      font-size: 5rem !important;
      margin: 0 !important;
      color: #733B2F;
      font-family: "The Nautigal", cursive !important;
      text-align: left; }
    .hero h1 {
      bottom: 15rem;
      font-weight: bold !important;
      font-size: 10rem; }
  /* first section responsive */
  .contenedor-plantas__divs {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
  /* second section responsive*/
  .extras__imgs {
    max-width: 120rem;
    width: 90%;
    column-gap: 2rem;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 20rem 35rem;
    grid-template-areas: "medicinales almacigos maceteros maceteros" "sustratos sustratos maceteros maceteros"; }
  /* animaciones */
  .almacigos, .maceteros, .sustratos, .medicinales {
    transition: all .5s ease-in-out; }
    .almacigos:hover, .maceteros:hover, .sustratos:hover, .medicinales:hover {
      transform: scale(1.1);
      z-index: 1;
      -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 16px 5px rgba(0, 0, 0, 0);
      box-shadow: 0px 10px 13px -7px #000000, 5px 5px 16px 5px rgba(0, 0, 0, 0);
      transform: translateY(-10px); }
  .maceteros:hover {
    transform: translate(10px); }
  .sustratos:hover {
    transform: translateX(-10px); }
  .medicinales__contenido--index .btn--extras, .medicinales__contenido--index .btn--testimonios, .medicinales__contenido--index .contenedor-eCommerce .btn-contenedor .btn--productos, .contenedor-eCommerce .btn-contenedor .medicinales__contenido--index .btn--productos, .almacigos__contenido--index .btn--extras, .almacigos__contenido--index .btn--testimonios, .almacigos__contenido--index .contenedor-eCommerce .btn-contenedor .btn--productos, .contenedor-eCommerce .btn-contenedor .almacigos__contenido--index .btn--productos {
    transition: all .5s ease-in-out;
    max-width: 20rem; }
  .medicinales__contenido--index:hover .btn--extras, .medicinales__contenido--index:hover .btn--testimonios, .medicinales__contenido--index:hover .contenedor-eCommerce .btn-contenedor .btn--productos, .contenedor-eCommerce .btn-contenedor .medicinales__contenido--index:hover .btn--productos, .almacigos__contenido--index:hover .btn--extras, .almacigos__contenido--index:hover .btn--testimonios, .almacigos__contenido--index:hover .contenedor-eCommerce .btn-contenedor .btn--productos, .contenedor-eCommerce .btn-contenedor .almacigos__contenido--index:hover .btn--productos {
    transform: translateX(30%) translateY(-100%) scale(1.5); }
  .maceteros__contenido--index .btn--extras, .maceteros__contenido--index .btn--testimonios, .maceteros__contenido--index .contenedor-eCommerce .btn-contenedor .btn--productos, .contenedor-eCommerce .btn-contenedor .maceteros__contenido--index .btn--productos, .sustratos__contenido--index .btn--extras, .sustratos__contenido--index .btn--testimonios, .sustratos__contenido--index .contenedor-eCommerce .btn-contenedor .btn--productos, .contenedor-eCommerce .btn-contenedor .sustratos__contenido--index .btn--productos {
    transition: all .5s ease-in-out; }
  .maceteros__contenido--index:hover .btn--extras, .maceteros__contenido--index:hover .btn--testimonios, .maceteros__contenido--index:hover .contenedor-eCommerce .btn-contenedor .btn--productos, .contenedor-eCommerce .btn-contenedor .maceteros__contenido--index:hover .btn--productos, .sustratos__contenido--index:hover .btn--extras, .sustratos__contenido--index:hover .btn--testimonios, .sustratos__contenido--index:hover .contenedor-eCommerce .btn-contenedor .btn--productos, .contenedor-eCommerce .btn-contenedor .sustratos__contenido--index:hover .btn--productos {
    transform: translateX(20px) scale(2);
    transform-origin: left; }
  /* THIRD SECTION testimonios responsive */
  .testimonios .div-btn--testimonios {
    display: flex;
    align-items: center;
    justify-content: center; }
  .testimonios .btn--testimonios {
    transition: all .5s ease-in-out; }
    .testimonios .btn--testimonios:hover {
      padding: 1rem 30rem; }
  .testimonios .testimonios__contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem; }
    .testimonios .testimonios__contenedor div {
      transition: all .5s ease-in-out; }
      .testimonios .testimonios__contenedor div:hover {
        -webkit-box-shadow: 1px 6px 8px 1px rgba(0, 0, 0, 0.29);
        box-shadow: 1px 6px 8px 1px rgba(0, 0, 0, 0.29);
        background-color: #D3D9A7;
        cursor: pointer; }
        .testimonios .testimonios__contenedor div:hover i {
          color: #34592E;
          transition: all 1s ease-in-out; }
  /* footer */
  .footer__iconos--pago {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0; }
  /* nueva-ola (FOURTH section responsive) */
  .nueva-ola {
    background-image: url("../build/imgs/hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 920px; }
    .nueva-ola .nueva-ola__contenido {
      height: 100%;
      width: 100%;
      position: relative; }
      .nueva-ola .nueva-ola__contenido .nueva-ola__contenidointerno {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 50px;
        bottom: 120px;
        height: 20rem;
        width: 30rem; }
        .nueva-ola .nueva-ola__contenido .nueva-ola__contenidointerno p {
          font-size: 2rem;
          text-align: center;
          margin: 0 !important;
          font-size: 2.5rem; }
        .nueva-ola .nueva-ola__contenido .nueva-ola__contenidointerno h3 {
          color: #733B2F;
          margin: 0 !important;
          font-size: 2.5rem; }
  /* contacto page */
  .nombre-apellido {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .tres-columnas {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap; }
  .card:hover {
    background-color: #fbedc5;
    cursor: pointer;
    transform: scale(1.1); } }

/* --------------- middle-large --------------- */
/* media header */
@media (min-width: 992px) {
  .logo--nav {
    display: block;
    text-align: center; }
    .logo--nav img {
      height: 10rem;
      width: 15rem; }
  .carrito--responsive {
    display: none; } }

/* --------------- medio-max --------------- */
@media (min-width: 768px) and (max-width: 1079px) {
  /* first section responsive*/
  .contenedor-plantas__divs {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .testimonios .testimonios__contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .testimonios .testimonios__contenedor .testimonios4 {
      display: none; }
  .imagen4 {
    display: none; } }

/* --------------- Medio --------------- */
@media (min-width: 768px) {
  /* footer */
  .elementos-footer {
    text-align: center;
    justify-content: center;
    padding: 1rem 0 2rem 1rem;
    display: grid;
    grid-template-columns: 23% 20% 20% 20% 17%;
    grid-template-areas: "logo contacto productos  social-media flechita" "logo contacto productos  social-media flechita"; }
  .div-logo--footer {
    grid-area: logo; }
  .div-productos {
    grid-area: productos; }
  .div-contacto {
    grid-area: contacto; }
  .div-flechita {
    grid-area: flechita; }
  .div-social-media {
    text-align: center;
    grid-area: social-media; }
  .contenedor-resp {
    display: none; }
  .contenedor-eCommerce {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    max-width: 95%;
    margin: 5rem auto;
    column-gap: 2rem; }
    .contenedor-eCommerce h3 {
      margin-bottom: 2rem !important;
      font-size: 3rem !important; }
      .contenedor-eCommerce h3::after {
        content: "-10%";
        background-color: #F2EA79;
        margin: 1rem 0 0 1rem;
        bottom: 7px; }
    .contenedor-eCommerce .img-hidden {
      display: none; }
    .contenedor-eCommerce--img {
      background-image: url("../build/imgs/hero4.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      width: 35rem;
      height: 55rem;
      transition: filter 5s ease-in-out; }
      .contenedor-eCommerce--img:hover {
        background-image: url("../build/imgs/planta1.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center; }
    .contenedor-eCommerce--img1 {
      border: 6px double #8b0000;
      max-width: 95%;
      margin: 0 auto; }
    .contenedor-eCommerce .desktop-ecommerce {
      display: flex;
      align-items: center;
      justify-content: center; }
    .contenedor-eCommerce .btn-contenedor {
      width: 95%;
      display: block;
      color: white;
      margin: 3rem 0; } }

/* --------------- non-display --------------- */
/* responsive contacto */
@media (max-width: 1070px) {
  .planta-animada {
    display: none; }
  .testimonio4 {
    display: none; } }

@media (max-width: 767px) {
  .contenedor-desktop {
    display: none; }
  .img-responsive-carrusel img {
    height: 50rem;
    width: 35rem; } }

/* --------------- small --------------- */
@media (max-width: 480px) {
  .hero h1 {
    margin: 0 !important;
    font-size: 9rem; }
  .hero h4 {
    bottom: 5rem; } }
