/* ------ Maceteros --------- */

/* bootstrap en maceteros */

@import '../base/variables.scss';

.card {
    max-width: 25rem !important;
    align-items: center !important;
    transition: all .5s ease-in-out;
    width: 30rem !important;
    padding: 1rem 0 0 0;

    img {   
        max-width: 20rem;
        height: 25rem;
    }
}


  .col {
      display: flex;
      justify-content: center !important;
      align-items: center !important;
  }


 .btn-primary {
     background-color: $cafe-oscuro !important;
     color: white !important;
 }


.maceteros-gap {
    
    grid-row-gap: 5rem;
    grid-column-gap: 6rem;
   
}

.contenedor-cards {
    margin: 5rem auto;
    text-align: center;
}


.pagination--propia {
    justify-content: center;
    margin-bottom: 3rem !important;
    gap: 1rem;
}