/* ------ Maceteros --------- */

/* bootstrap en maceteros */

.card {
    max-width: 25rem !important;
    align-items: center !important;
    transition: all .5s ease-in-out;
    width: 30rem !important;
    padding: 1rem 0 0 0;

    img {   
        max-width: 20rem;
        height: 25rem;
    }

    h2 {
        font-size: 2.5rem !important;
    }

    h3 {
        font-size: 1.6rem !important;
    }
}




  .col {
      display: flex;
      justify-content: center !important;
      align-items: center !important;
  }


 .btn-primary {
     background-color: $cafe-oscuro !important;
     color: white !important;

     &:focus, &:active, &:checked {
         border-color: $cafe-oscuro !important;
         box-shadow: 0 0 0 0.25rem rgba(85, 50, 4, 0.5);
     }
 }


.maceteros-gap {
    
    grid-row-gap: 5rem;
    grid-column-gap: 6rem;
   
}

.contenedor-cards {
    margin: 5rem auto;
    text-align: center;
}


.pagination--propia {
    justify-content: center;
    margin-bottom: 3rem !important;
    gap: 1rem;
}

/* --------------- Product Expecific Page --------------- */


.contenedor-eCommerce {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 95%;
    margin: 5rem auto;

    h3 {
        margin-bottom: 4rem !important;
        position: relative;

        &::after {
            content: "-10%";
            background-color: $amarillo-estrellas;
            margin: 1rem 0 0 1rem;
            bottom: 4px;
            font-size: 1.5rem;
            font-weight: normal;
            position: absolute;
        }
    }

    .img-hidden {

    text-align: center
        
    }


    &--img {
        @include bg-image ("../build/imgs/hero4.webp");
        max-width: 35rem;
        max-height: 55rem;
        
    }

    &--img1 {

        border: 6px double $btn-productos;
            padding: 3rem;
              
    }

    &--textos {

        max-width: 95%;

        h3 {
            font-weight: bold;
            color: $cafe-oscuro;
        }

        h2 {
            font-weight: 600;
            color: $amarillo-estrellasO;
            font-size: 2rem;
            animation: none !important;

        }
    
    }

    .btn-contenedor {

        width: 95%;
        display: block;
        color: white;
        
        a {
            font-size: 2.5rem !important;
            
            i {
                margin: 0 1rem 0 0;
            }
        }
        


        .btn--productos {
            @extend .btn--extras;
            background-color: $btn-productos;
            padding: 2rem 0;
        }
    }
    
}
