@import '../base/variables.scss';

.fa-map-marker-alt {
    font-size: 1rem;
    color: rgb(180, 164, 14);
    position: relative;
    animation: {
        name: location 2s;
        delay: 1s;
        fill-mode: both;
    }   

    &:hover {
        transform: translateY(-5px) scale(1.5);
  }
  
  @keyframes location {
    50% {transform: rotate(-20deg); font-size: 2rem; color: red;}
    60% { transform: rotate(-10deg); color: orange;}
    70% {transform: rotate(20deg); font-size: 4rem; }
    
    70% {font-size: 5rem; transform: translateY(-50px);}
    85% {color: rgb(94, 91, 65);}
    100% {top: 0px; font-size: 3rem; color: rgb(180, 164, 14)}
  }

}

.formulario {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 60rem;
    width: 95%;
    height: 80%;
    padding: 2rem;
    background-color: var(--color2);
    border-radius: .5rem;
    margin-bottom: 3rem;

    
    & #nombre, & #apellido {
    width: 100%;
    }

    #phone {
        width: 100%;
    }

    textarea {
        height: 20rem;
        width: 100%;
    }

}

#nombre, #phone, #apellido {
    height: 3rem ;
    margin-bottom: 1rem;
}



.btn--formulario {
    background-color: var(--color1);
    color: black;
}


