/* --- Header --- */ 


.logo {
    
    img {

    margin-top: 1rem;
    @include w-h(15rem, 10rem);
    margin-bottom: 1rem;
}

    &--nav {
        background-color: $verde-header; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5rem;

        img {
            @include w-h(10rem, 7rem);

        }
    }


    &--index {
        position: relative;
        margin-bottom: 1rem;
        animation: animation-logo-index 2s;
        animation: {
            fill-mode: both;
        }
    }
    
    @keyframes animation-logo-index {
        50% {transform: rotate(10deg);}
        70% {
            transform: rotate(-20deg); 
            z-index: 1;
            }
        85% { transform: rotate(10deg);}
        100% { transform: rotate(0);}
        }
    
    
    &--arriba {
        position: relative;
        margin-bottom: 1rem;
        animation: animation-logo-arriba 1s;
        animation: {
            fill-mode: both;
        }
    }
        
    @keyframes animation-logo-arriba {
        50% {transform: translateY(0px);}
        100% { transform: translateY(10px);}
        }
    
    
}



.carrito--responsive {
    font-size: 4rem;
}





/* --- NAVEGACIÓN --- */


 .compras {
    padding: .5rem;
    font-weight: bold;
} 

.nav--menu {

    background-color: $verde-nav;
    font-family: $fuenteParrafos;
    padding: 0;
    margin: 0;

        ul {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto; 

            li {
                text-align: center;
                

                img {
                    @include w-h(20px, 20px);
                }

                a {
                    display: inline-block;
                    padding: 1rem;
                    

                    &:hover {
                    background-color: $verde-header;
                    transition: background-color .3s ease;
                    
                    
               
                }
            }
        }

    }

}


/* --- TERMINA NAVEGACIÓN --- */


/* --- HERO --- */
 .non-web {
     .hero {
        background: {
            image: url('../build/imgs/hero-resp3.jpg');
            
        }
     }
 }


    .hero {
    
        background: {
            image: url('../build/imgs/hero-resp3.webp');
            repeat: no-repeat;
            size: cover;
            position: center center;
        }
        height: 40rem;
        position: relative;
    
        
        h4 {
    
            position: absolute;
            margin: 0 !important;
            bottom: 9rem;
            font-size: 5rem !important;
            margin: 0 !important;
            color: $cafe-oscuro;
            font-family: $fuenteHero !important;
            max-width: 80vw;
            text-align: left;
        }
    
        h1, h4 {
    
            position: absolute;
            color: $cafe-oscuro;
            font-family: $fuenteHero !important;
            text-align: left;
            left: 10vw;
            @include media-if(1315px) {
                left: 3.5vw;
            }  
    
        }
    
        h1 {
            
            bottom: 15rem;
            font-weight: bold !important;
            font-size: 10rem;
            
        }
    }





