

/* components */
.btn {
    padding: 1rem 3rem;
    font-size: 1.6rem;
    color: white;  
    border-style: none;
    border-radius: $border-radius;
}


.btn--extras {
    @extend .btn;
    background-color: $cafe-oscuro;
    cursor: pointer;
    display: block;

    p {
        margin: 0 !important;
    }
    


    
}


.btn--formulario {
    @extend .btn;
    background-color: $verde-header;
    color: black;
    display: block;


    &:hover {
        color: $verde-nav;
        background-color: $verde-tarjetas;
        transition: all .5s ease-in-out;
    }
}

.btn--testimonios {
    @extend .btn--extras;
    padding: 1rem 10rem;
    transition: all .5s ease-in-out;

}

/* General @extends */

.flex-column {
    display: flex;
    flex-direction: column;
}