
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* FUENTES */

$fuenteHeadings: 'Courgette', cursive;
$fuenteParrafos:  'Poppins', sans-serif;
$fuenteHero: 'The Nautigal', cursive;



