

/* --------------------------------- RESPONSIVE SECTION ------------------------------------ */


@media (min-width: $large){

    .nav--menu {
        
        ul {
        gap: 5rem;
    }
}

    /* first section responsive */
    .contenedor-plantas__divs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);  
        // margin: 3rem 0 0 0;
 }

    /* second section responsive*/
    .extras__imgs {
        max-width: 120rem;
        width: 90%;
        column-gap: 2rem;
        grid-template: {
            columns: 25% 25% 50%;
            rows: 20rem 35rem;
            areas: 
        "medicinales almacigos maceteros maceteros"
        "sustratos sustratos maceteros maceteros";     
    }
}

    /* animaciones */
    .almacigos, .maceteros, .sustratos, .medicinales {
        transition: all .5s ease-in-out;
        
         &:hover { 
            transform: scale(1.1); 
            z-index: 1;
            -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 16px 5px rgba(0,0,0,0); 
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 16px 5px rgba(0,0,0,0);
            transform: translateY(-10px);

        }
}


    
    .maceteros:hover {
        transform: translate(10px); 
 
    }

    .sustratos:hover {
        transform: translateX(-10px);
    }

    .medicinales__contenido--index .btn--extras, .almacigos__contenido--index .btn--extras {
        transition: all .5s ease-in-out;
    }

    .medicinales__contenido--index:hover .btn--extras, .almacigos__contenido--index:hover .btn--extras {
        transform: translateX(30%) translateY(-100%) scale(1.5);
    }


    .maceteros__contenido--index .btn--extras, .sustratos__contenido--index .btn--extras {
        transition: all .5s ease-in-out;
    }

    .maceteros__contenido--index:hover .btn--extras, .sustratos__contenido--index:hover .btn--extras {
        transform: translateX(20px) scale(2);
        transform-origin: left;
    }

    /* THIRD SECTION testimonios responsive */

    .testimonios {




        .div-btn--testimonios {
            display: flex;
            align-items: center;
            justify-content: center;   
        }

        .btn--testimonios {
            transition: all .5s ease-in-out;
        
            &:hover {
                padding: 1rem 30rem;
            }
        }

        .testimonios__contenedor {
        
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 2rem;  
        
            
        div {
            transition: all .5s ease-in-out;            

            &:hover {
                -webkit-box-shadow: 1px 6px 8px 1px rgba(0,0,0,0.29); 
                box-shadow: 1px 6px 8px 1px rgba(0,0,0,0.29);
                background-color: $verde-nav;
                cursor: pointer;

                    i {
                        color: $verde-tarjetas;
                        transition: all 1s ease-in-out
                    }

                
                }     
        
            }

        }
    
}


    

    /* footer */
    .footer__iconos--pago {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 1rem 0;
        
    }

    /* nueva-ola (FOURTH section responsive) */
    .nueva-ola {
        @include bg-image ('../img/hero.JPG');
        height: 920px;

        .nueva-ola__contenido {
            @include w-h (100%, 100%);
            position: relative;
            
            .nueva-ola__contenidointerno {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                left: 50px;
                bottom: 120px;
                @include w-h (30rem, 20rem);
                

                p {
                    font-size: 2rem;
                    text-align: center;
                    margin: 0 !important;
                    font-size: 2.5rem;
                }

                h3 {
                    color: $cafe-oscuro;
                    margin: 0 !important;
                    font-size: 2.5rem;
                }
            }
        }       
    }





    /* contacto page */

    .nombre-apellido {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .tres-columnas {
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;
    }


    .card:hover {
        background-color: lighten($bg-products, 30%);
        cursor: pointer;
        transform: scale(1.1);
    }

}


/* media header */

@media (min-width: 992px) {
    .logo--nav {
        display: block;
        text-align: center;
    }

    .carrito--responsive{
        display: none;
    }

   .logo--nav {
       img {
           @include w-h(15rem, 10rem);
           
       }
   }

}


@media (min-width: $medium) and (max-width: 1079px)  {
       
    /* first section responsive*/
    .contenedor-plantas__divs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
    .testimonios {
        .testimonios__contenedor {
        
            display: grid;
            grid-template-columns: repeat(3, 1fr);        
   
            .testimonio4 {
                display: none;
            }
        }

    }
    

    .imagen4 {
        display: none; 
        
    } 

    

}




@media (min-width: $medium) {
    /* footer */
    .elementos-footer {
        padding: 2rem 0;
        display: flex;
        justify-content: space-evenly;
       
    }  


    .contenedor-resp {
        display: none;
    }
}


/* responsive contacto */

@media (max-width: 1070px) {
    .planta-animada {
        display: none;
    }
}


@media (max-width: 767px) {
    .contenedor-desktop {
        display: none;
    }
    
    .img-responsive-carrusel img{
        @include w-h(35rem, 50rem);
    }
    
} 
 


