@import '../base/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
:root { 

    
    /* --- FUENTES --- */
    --fuenteHeading:  'Inconsolata', monospace;
    --fuenteParrafos: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    
    /* --- PALETAS --- */

    --verdeOscuro: #668C4A;
    --verdeClaro: #A6BF4B; 
    --grisClaro: #F2F0D5;
    --amarillo: #F2C53D;
    --grisOscuro: #B1B1AC;
    --tierraOscuro: #733B2F;
    --tierraClaro: #BF9D7E;
    
    
    --color1: #A4BF69;
    --color2: #D3D9A7;
    --color3: #5E8C30;
    --color4: #34592E;
    --color5: #141E26; 
    --color6: #233747; 
    --color7: #dbbb51;    
}