
/* paleta  de colores*/

$verde-header: #A4BF69;
$verde-nav: #D3D9A7;
$verde-tarjetas: #34592E;
$cafe-oscuro: #733B2F;
$cafe--claro: #BF9D7E;
$bg-products: #F2C035;
$amarillo-estrellas: #F2EA79;
$amarillo-estrellasO: #D99923;



/* variables responsive */

$small: 480px;
$medium: 768px;
$large: 1080px;


/* box-model */

$border-radius: 1.5rem;
$margin-sections: 7rem auto;


/* minxin */

@mixin w-h($width, $height) {
    height: $height;
    width: $width;
}

@mixin bg-image ($url) {
    background: {
        image: url($url);
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
}

/* @each! */

$headings : h6 h5 h4 h3 h2 h1;
$base-size : .5rem;

$modular-scale : 0.5;
@each $heading in $headings{
  #{$heading} {
    font-size : $base-size + $modular-scale;
    $modular-scale : $modular-scale + 0.5;
  }
}



$redes-sociales: (
  instagram: #3d1711,
  facebook: #223f7a,
  youtube: #64212F,
  whatsapp: #032b26
);

@each $red, $color in $redes-sociales {
  .color-#{$red} {
    color: $color;
  }
}
