/* ------------------------ MODIFICACIONES BOOTSTRAP GENERALES------------------------------ */



.container {
    width: 100%;
}



.carousel-control-prev-icon {
    background-image: url("img/arrow-circle-left-solid.svg");
  }
  
.carousel-control-next-icon {
    background-image: url("img/arrow-circle-right-solid.svg");
    
  }

  .carousel2 {
      position: relative;
  }

  /* pagination bs */

  .page-link {
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid var(--tierraOscuro) !important;;
  }

  .page-link:hover {
    color: white !important;
    background-color: var(--tierraOscuro);
    border-color: var(--color4) !important;
  }

  .page-link {
    padding: .5rem 1rem !important;
  }




  @media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 960px !important;
    }
  }
  @media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1200px !important;
    }
  }


  .contenedor-desktop {
      max-width: 130rem !important;
  }
