
/* paleta  de colores*/

$verde-header: #A4BF69;
$verde-nav: #D3D9A7;
$verde-tarjetas: #34592E;
$bg-btns: #733B2F;
$font-btns: #BF9D7E;
$bg-products: rgb(165, 152, 152);


/* variables responsive */

$small: 480px;
$medium: 768px;
$large: 1080px;

